<div id="sidebar">
	<ul id="sidebar-nav">
		<li>Welcome <%= currentUser.name %></li>
		<li><a href="/consultant/dashboard">Dashboard</a></li>
		<li><a href="/consultant/Leads/All">My All Leads</a></li>
		<li><a href="/consultant/Leads/pending">My Pending Leads</a></li>
		<li><a href="/consultant/Leads/converted">My Converted Leads</a></li>
		<li><a href="/consultant/addLeads">Add Lead</a></li>
		<li><a href="/consultant/profile">My Profile</a></li>
		<li><a href="/auth/logout" class="btn">Logout</a></li>
	</ul>
</div>