<div id="sidebar">
	<ul id="sidebar-nav">
		<li>Welcome <%= currentUser.name %></li>
		<li><a href="/consultant/dashboard">Dashboard</a></li>
		<li><a href="/consultant/collections/pending">My Pending Collections</a></li>
		<li><a href="/consultant/collections/previous">My Previous Collections</a></li>
		<li><a href="/consultant/profile">My Profile</a></li>
		<li><a href="/auth/logout" class="btn">Logout</a></li>
	</ul>
</div>